---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Mi blog de aprendizaje";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aqui es donde publicare mi viaje de aprendizaje en Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.id}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
